
<div class="flex justify-center mt-[40px]">
    <div class="md:w-[400px] w-full md:mx-auto mx-6">
  
        <%= render "shared/auth/header" %>

        <div class="text-end my-3">
            <a href="/login" class="text-indigo-500 text-sm hover:underline" data-turbo="false">Masuk sekarang</a>
        </div>
        <div class="mt-5">
            <%= form_with url: register_path, method: :post, html: {onsubmit: "disableButton()"} do |f| %>
                <div class="mb-4">
                    <label for="name" class="text-sm text-slate-600">Name</label>
                    <div class="relative">
                        <svg class="absolute ms-3 top-[50%] translate-y-[-50%]" xmlns="http://www.w3.org/2000/svg" width="22px" viewBox="0 0 24 24" fill="none" stroke="#94a3b8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-user-round"><circle cx="12" cy="8" r="5"/><path d="M20 21a8 8 0 0 0-16 0"/></svg>
                        <input required type="text" name="name" id="name" value="<%= params[:name] %>" placeholder="John Doe" class="block focus:ring-1 focus:ring-indigo-400 border-slate-300 text-slate-600 text-sm border w-full focus:outline-none ps-11 pe-4 py-3 rounded-lg mt-1">
                    </div>
                </div>
                <div class="mb-4">
                    <label for="email" class="text-sm text-slate-600">Email Address</label>
                    <div class="relative">
                        <svg class="absolute ms-3 top-[50%] translate-y-[-50%]" xmlns="http://www.w3.org/2000/svg" width="22px" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><g fill="none"><path d="M5.25 4h13.5a3.25 3.25 0 0 1 3.245 3.066L22 7.25v9.5a3.25 3.25 0 0 1-3.066 3.245L18.75 20H5.25a3.25 3.25 0 0 1-3.245-3.066L2 16.75v-9.5a3.25 3.25 0 0 1 3.066-3.245L5.25 4h13.5h-13.5zM20.5 9.373l-8.15 4.29a.75.75 0 0 1-.603.043l-.096-.042L3.5 9.374v7.376a1.75 1.75 0 0 0 1.606 1.744l.144.006h13.5a1.75 1.75 0 0 0 1.744-1.607l.006-.143V9.373zM18.75 5.5H5.25a1.75 1.75 0 0 0-1.744 1.606L3.5 7.25v.429l8.5 4.473l8.5-4.474V7.25a1.75 1.75 0 0 0-1.607-1.744L18.75 5.5z" fill="#94a3b8"></path></g></svg>
                        <input required type="email" name="email" id="email" value="<%= params[:email] %>" placeholder="johndoe@example.com" class="block focus:ring-1 focus:ring-indigo-400 border-slate-300 text-slate-600 text-sm border w-full focus:outline-none ps-11 pe-4 py-3 rounded-lg mt-1">
                    </div>
                </div>
                <div class="mb-4">
                    <label for="password" class="text-sm text-slate-600">Password</label>
                    <div class="relative">
                        <svg class="absolute ms-3 top-[50%] translate-y-[-50%]" xmlns="http://www.w3.org/2000/svg" width="22px" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><g fill="none"><path d="M12 2a4 4 0 0 1 4 4v2h1.75A2.25 2.25 0 0 1 20 10.25v9.5A2.25 2.25 0 0 1 17.75 22H6.25A2.25 2.25 0 0 1 4 19.75v-9.5A2.25 2.25 0 0 1 6.25 8H8V6a4 4 0 0 1 4-4zm5.75 7.5H6.25a.75.75 0 0 0-.75.75v9.5c0 .414.336.75.75.75h11.5a.75.75 0 0 0 .75-.75v-9.5a.75.75 0 0 0-.75-.75zm-5.75 4a1.5 1.5 0 1 1 0 3a1.5 1.5 0 0 1 0-3zm0-10A2.5 2.5 0 0 0 9.5 6v2h5V6A2.5 2.5 0 0 0 12 3.5z" fill="#94a3b8"></path></g></svg>
                        <input required type="password" name="password" id="password" placeholder="********" class="block focus:ring-1 focus:ring-indigo-400 border-slate-300 text-slate-600 text-sm border w-full focus:outline-none ps-11 pe-4 py-3 rounded-lg mt-1">
                    </div>
                </div>
                <div class="mb-4">
                    <label for="password_confirmation" class="text-sm text-slate-600">Confirm Password</label>
                    <div class="relative">
                        <svg class="absolute ms-3 top-[50%] translate-y-[-50%]" xmlns="http://www.w3.org/2000/svg" width="22px" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><g fill="none"><path d="M12 2a4 4 0 0 1 4 4v2h1.75A2.25 2.25 0 0 1 20 10.25v9.5A2.25 2.25 0 0 1 17.75 22H6.25A2.25 2.25 0 0 1 4 19.75v-9.5A2.25 2.25 0 0 1 6.25 8H8V6a4 4 0 0 1 4-4zm5.75 7.5H6.25a.75.75 0 0 0-.75.75v9.5c0 .414.336.75.75.75h11.5a.75.75 0 0 0 .75-.75v-9.5a.75.75 0 0 0-.75-.75zm-5.75 4a1.5 1.5 0 1 1 0 3a1.5 1.5 0 0 1 0-3zm0-10A2.5 2.5 0 0 0 9.5 6v2h5V6A2.5 2.5 0 0 0 12 3.5z" fill="#94a3b8"></path></g></svg>
                        <input required type="password" name="password_confirmation" id="password_confirmation" placeholder="********" class="block focus:ring-1 focus:ring-indigo-400 border-slate-300 text-slate-600 text-sm border w-full focus:outline-none ps-11 pe-4 py-3 rounded-lg mt-1">
                    </div>
                </div>
           
                <%= render "shared/auth/button", text:"Submit" %>

            <% end %>

        </div>
    </div>
</div>