<div class="header mt-4">
    <h1 class="text-xl tracking-wide text-slate-600 font-medium">Dashboards</h1>
  </div>
  <div class="mt-9 mb-4 ">
    <%= render "shared/admin/layout/nav-link", text:"Dashboard", url:"/app/dashboard" %>
    <%= render "shared/admin/layout/nav-link", text:"Statistics Board", url:"/app/dashboard" %>
    <%= render "shared/hr" %>
    <%= render "shared/admin/layout/nav-link", text:"Orders", url:"/app/dashboard" %>
    <%= render "shared/admin/layout/nav-link", text:"Timeline", url:"/app/dashboard" %>
    <%= render "shared/admin/layout/nav-link", text:"Popular", url:"/app/dashboard" %>
  </div>