<div class="header mt-4">
    <h1 class="text-xl tracking-wide text-slate-600 font-medium">Manages</h1>
  </div>
  <div class="mt-9 mb-4 ">
    <%= render "shared/admin/layout/nav-link", text:"Products", url:"/app/products" %>
    <%= render "shared/admin/layout/nav-link", text:"Categories", url:"/app/categories" %>
    <%= render "shared/hr" %>
    <%= render "shared/admin/layout/nav-link", text:"Discounts", url:"/app/discounts" %>
    <%= render "shared/admin/layout/nav-link", text:"Brands", url:"/app/brands" %>
    <%= render "shared/admin/layout/nav-link", text:"Series", url:"/app/series" %>
    <%= render "shared/admin/layout/nav-link", text:"Characters", url:"/app/characters" %>
  </div>