<div class="w-[180px] h-[180px] rounded-lg relative border-2 border-slate-300 border-dashed">
    <div class="bg-indigo-600 text-white px-4 py-2 rounded-lg cursor-pointer absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%]" onclick="triggerFileInput('<%= name %>')">
        <svg xmlns="http://www.w3.org/2000/svg" class="size-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12"></path>
        </svg>
    </div>  
    <img id="preview_<%= name %>" src="" alt="pic" class="w-full h-full object-cover rounded-lg hidden">
    <input type="file" required name="<%= name %>" id="<%= name %>" class="hidden file-input" accept="image/*" onchange="previewImage(event, '<%= name %>')">
</div>