<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Tokyo Finds | Tempat jual beli figure atau merchandise dari jepang!" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <%= yield :css %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="shortcut icon" href="https://i.ibb.co.com/G3WFjqy9/tf-logo.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="https://i.ibb.co.com/G3WFjqy9/tf-logo.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <style>
    body {
      background-color: #f8fafc;
    }
  </style>

  <body>
    
    <%= render "shared/alert" %>
    
    <div class="">
      <div class="flex">
          <div class="sidebar_left lg:flex hidden w-[380px] h-[100vh] sticky left-0 top-0">

              <%= render "shared/admin/layout/sidebar_main" %>

              <div class="sidebar_child w-[75%] h-[100vh] bg-white shadow-[0_3px_10px_0_rgba(48,46,56,0.06)]">
                <div class="p-4">
                  <% case @category %>
                    <% when "dashboard" %>
                      <%= render "shared/admin/layout/sidebar_child/dashboard" %>
                    <% when "manage" %>
                      <%= render "shared/admin/layout/sidebar_child/manage" %>
                    <% else %>
                      <%= render "shared/admin/layout/sidebar_child/dashboard" %> 
                  <% end %>
                </div>
              </div>
              

          </div>

          <div class="content_right w-full">
            <%= render "shared/admin/layout/navbar" %>
            <div class="lg:p-6 p-4">
                <%= yield %> 
            </div>
          </div>

      </div>
  </div>

  <%= yield :scripts %>

  </body>
</html>
