<!DOCTYPE html>
<html>
  <head>
    <title>Tokyo Finds | Verifikasi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <%= yield :css %>

    <link rel="shortcut icon" href="https://i.ibb.co.com/G3WFjqy9/tf-logo.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="https://i.ibb.co.com/G3WFjqy9/tf-logo.png">


    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <%= render "shared/alert" %>

  <%= yield %> 

  <%= yield :scripts %>

  </body>
</html>
